extends layout

block content
  h1 Register
  p Please register using the form below
  form(method='post',action='/users/register',enctype='multipart/form-data')  
    .form-group
      lable Name
      input.form-control(name='name', type='text',placeholder='Enter Name')
    .form-group
      lable Email
      input.form-control(name='email', type='email',placeholder='Enter Email')
    .form-group
      lable Username
      input.form-control(name='username', type='text',placeholder='Enter Username')
    .form-group
      lable Password
      input.form-control(name='password', type='password',placeholder='Enter Password')
    .form-group
      lable Confirm Password
      input.form-control(name='password2', type='password',placeholder='Confirm Password')
    .form-group
      lable Profile Image
      input.form-control(name='profile_image', type='file')
    input.btn.btn-default(name='submit', type='submit', value='Register')